<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Image Processing</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> -->
     <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>Upload Image for AI Processing</h1>
    <input type="file" id="fileInput">
    <button onclick="uploadFile()">Upload</button>
    <p id="result"></p>
    <img id="preview" style="display: none; max-width: 400px;">

</body>
    <script src="../static/script.js"></script>
</html>
