# Node.js
node_modules/
npm-debug.log
yarn-error.log
.env
.DS_Store

# Build
/dist/
/build/

# Logs
logs/
*.log

# Editor files
.idea/
.vscode/

# Optional: nếu bạn dùng Ant Design
.umi/
.umi-production/

# Bỏ qua các tệp tạm thời
*.tmp
*.swp
*.bak

# Coverage
coverage/

# Thư mục cache
.cache/

# Bỏ qua file export
export/
